<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block title %}{% endblock %} &ndash; Blog</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="/static/style.css"/>

  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
        <li class="dropdown"></li>
          <ul class="nav navbar-nav navbar-right">
            {% if username %}
               <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
             {% else %}
                <li><a href="/auth/login/">Войти</a></li>
            {% endif %}
          </ul>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </div>

    {% block content %}
        <h4 class="st">{{ article.title }}</h4>
        <img src="{{ article.image.url }}" class="img"/></br>
        <a class="title">{{ article.text }}</a><br>
        <a class="time">{{ article.time }}</a><br>
        <p><a class="laek" href="/articles/addlike/{{ article.id }}"><img class="param" src="{% static 'lois.jpeg' %}"  > Понравилось: {{ article.likes }}</a></p>
        <p> Комментарии: </p>
        {% for comment in comments %}
            <p>{{ comment.comment }}</p>
        {% endfor %}
           <div id="disqus_thread"></div>
        <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//localhost-8000-9.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>

     {% endblock %}
    </div>
  </body>
</html>
