<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <p>

    </p>
    <title>{% block title %}{% endblock %} &ndash; Blog</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="/static/style.css"/>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="conta">

    {% block content %}
        <h4 class="st">{{ article.title }}</h4>
        <img class="img" src="{{ article.image }}">
        <pre class="title">{{ article.text }}</pre>
        <pre class="time">{{ article.time }}</pre>
        <p><a class="laek" href="/articles/addlike/{{ article.id }}"><img class="param" src="{% static 'lois.jpeg' %}"  > Понравилось: {{ article.likes }}</a></p>
        <p> Комментарии: </p>
        {% for comment in comments %}
            <p>{{ comment.comment }}</p>
        {% endfor %}
           <div id="disqus_thread"></div>
<script>


(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//localhost-8000-9.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

     {% endblock %}
    </div>
  </body>
</html>
