<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} &ndash; Blog</title>
    {% load staticfiles %}

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <li class="dropdown"></li>
          <ul class="nav navbar-nav navbar-right">
            {% if username %}
               <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
             {% else %}
                <li class="log"><a href="/auth/login/">Войти</a></li>
            {% endif %}
          </ul>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a tabindex="-1" href="http://terrikon.com/">Terrikon</a></li>
                <li><a tabindex="-1" href="https://sport.unian.net/">Sport.unian</a></li>
                <li><a tabindex="-1" href="http://127.0.0.1:8000/admin/">Enter to admin</a></li>
                <li class="divider"></li>
            </li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </div>

    <div class="conta">
       <h3 class="hello">Добро пожаловать в мой блог!!!</h3>
        {% for article in articles %}
            <h4 class="art"><a href="{% url 'article' article.id %}"> {{ article.title }}</a></h4>
            <img src="{{ article.image.url }}" class="img"/>
            <pre class="text-art">{{ article.get_short_text }}</pre><br>
            <a class="time">{{ article.time }}</a><br>
            <a class="laek"> Понравилось:  {{ article.likes }}</a>
        {% endfor %}
    </div>
</body>
</html>




