.conta {
    height: 2000px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 125px;
}

.conta .art {
    height: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    color: indigo;
}

.conta .title {
    height: 200px;
    width: 1250px;
    color: indigo;
}

.hello {
    margin-top: 75px;
    color: gold;
    font-style: italic;
}

.title {
    height: 300px;
    width: 1250px;
    color: gold;
}
.st {
    margin-top: 105px;
    color: orangered;
    font-style: italic;
}

.time {
    width: 225px;
    height: 35px;
    color: darksalmon;
    padding-top: 100px;
}
.comment {
    height: 100px;
    width: 750px;
    color: indigo;
    margin-left: 125px;
}
.laek {
    font-style: oblique;
    padding-top: 100px;

}
.img {
    width: 500px;
    height: 300px;
}

.text-art {
    height: 100px;
    width: 1200px;
}

.laek .param {
    width: 25px;
    height: 25px;
}

.log {
    margin-right: 75px;
}
body
    {
    background-image: url(http://www.planwallpaper.com/static/images/cool-background.jpg);
    background-repeat: repeat;
}
